<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description }}">
<meta name="theme-color" content="#ffffff">
<meta name="twitter:dnt" content="on">
<meta property="og:title" content="{{ title }} - {{ site_title }}">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://cademcniven.com{{ page.url }}">
<meta property="og:description" content="{{ description }}">
<link rel="canonical" href="https://cademcniven.com{{ page.url }}">
<link rel="apple-touch-icon" sizes="180x180"
  href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
  href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
  href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">

<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
{% include "src/styles/normalize.css" %}
{% include "src/styles/site.css" %}
{% include "src/styles/prism.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>
<title>{{ title }} - {{ site_title }}</title>