<nav>
    <ul>
        <li><a href="/">Posts</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/notes/">Notes</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/japaneseresources/">Japanese Resources</a></li>
    </ul>
</nav>