{%- if tags != null -%}
{%- if tags.includes("post") -%}
<div class="postHeader">
    <div class="postHeaderBackground pattern-dots-xl">{{title}}</div>
    <div class="postHeaderContentWrapper">
        <div class="postHeaderContent">
            <h1 class="postTitle">{{title}}</h1>
            <div class="postDate">{{date | postDate}}</div>
            <div class="postDescription">{{description}}</div>
        </div>
    </div>
</div>
{%- endif -%}
{%- endif -%}