---
layout: _layout.njk
title: About
---

<img src="/images/face.jpg" alt="My face" />

<div id="aboutMe">
    <h2>About Me</h2>
    <p>Hi, I'm Cade!</p>
    <p>I'm a software engineer currently working for the state of Missouri. I
        graduated from <a href="https://www.oit.edu/">Oregon Tech</a> in 2020.</p>
    <p>I'm currently most interested in front end development, with a focus on
        performance and accessibility. I'm still learning every day, and this
        site is largely a sandbox for me to experiment and try new things. That
        said, expect this site to not work on many browsers, and just be
        completely broken in some places while I fiddle with things.</p>
    <p>I have an extremely wide range of interests, some of which I plan on
        writing about here. I apologize for any lack of cohesion.</p>
</div>
<div id="aboutSite">
    <h2>About This Site</h2>
    <p>This site was built with <a href="https://www.11ty.dev/">11ty</a>, HTML,
        CSS, vanilla JS, Markdown, and <a
            href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.</p>
    <p>This site uses no front-end Javascript.</p>
    <p>You can find all of the code for this site on <a
            href="https://github.com/cademcniven/cademcniven.com-dev">Github.</a>
        You can find the code for the published version of the site also on <a
            href="https://github.com/cademcniven/cademcniven.github.io">Github</a>.</p>
</div>